{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-auto">
                <form action="/login" method="post">

                    {% csrf_token %}

                    {{form.as_p}}

                    <button type="submit" class="button btn-primary"> Iniciar Sesion</button>

                </form>
            </div>

        </div>
    </div>


</body>

</html>

{% endblock %}