{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Contáctanos!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">¿Tienes dudas o sugerencias? Escríbenos y te contactaremos lo antes posible!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <form class="form-container" action="/recibeDatosContacto" method="post"> {% csrf_token%}
                        <div class="row">
                            <div class="col-md-auto" style="min-width: 170px;">Nombre:</div>
                            <div class="col-md-auto"><input type="text" name="nombre" class="form-control" placeholder="ingresa tu nombre"/></div>
                        </div>
                        <div class="row" style=" padding-top: 24px">
                            <div class="col-md-auto" style="min-width: 170px;">Correo:</div>
                            <div class="col-md-auto"><input type="text" name="correo" class="form-control" placeholder="ingresa tu correo"/></div>
                        </div>

                        <div class="row" style=" padding-top: 24px">
                            <div class="col-md-auto" style="min-width: 170px;">Número teléfono:</div>
                            <div class="col-md-auto"><input type="text" name="telefono"  class="form-control" placeholder="ingresa tu teléfono"/></div>
                        </div>
                        
                        <div class="row" style=" padding-top: 24px">
                            <div class="col-md-auto" style="min-width: 170px;">Mensaje</div>
                            <div class="col-md-auto"><textarea id="msg" name="mensaje"  class="form-control" name="user_message"></textarea></div>
                        </div>
                        <div class="row" style=" padding-top: 16px">
                            <div class="col-md-auto"><button class="btn btn-primary" type="submit">Enviar</button></div>
                        </div>
                    </form>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>Sección en construcción.</div>
                    </div>
                </div>
            </div>
        </section>

        <style>
            .form-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
{% endblock %}
