{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container" style=" margin-top: 60px;">
    <form action='/listaProfesionales' method="GET" class="row"> {% csrf_token %}
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text">Busca por especialidad</span>
                <select name="usrselect" class="form-select" aria-label="Default select example">
                    <option selected>Selecciona</option>
                    <option value="Ginecología">Ginecología</option>
                    <option value="Psicología">Psicología</option>
                    <option value="Psiquiatría">Psiquiatría</option>
                    <option value="Nutrición">Nutrición</option>
                    <option value="Medicina General">Medicina General</option>
                </select>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">Busca</button>
        </div>
    </form>

    {% if profesionales %}

    <div class="row">
        <div class="col-md-12">

            <table class="table" style="margin-top: 24px;">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profesional in profesionales %}
                    <!-- <p>{{ mapdata }}</p> -->
                    <tr>
                        <td>{{ profesional.nombre }} </td>
                        <td>{{ profesional.apellido }}</td>
                        <td>{{ profesional.email }}</td>
                        <td>{{ profesional.desc }}</td>
                        <td><a href="{% url 'cargaDatosProfesional' id=profesional.id %}">Editar</a></td>
                        <td><a href="{% url 'eliminaProfesional' id=profesional.id %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}
</div>


{% endblock %}