{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- RegistrarProfesional-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        {% if success %}

        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="col-lg-8 col-xl-6 text-center">
                <div class="alert alert-success" role="alert" style="margin-bottom: 3rem;">
                    Profesional registrado exitosamente.
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Registra profesionales en nuestras bases de datos</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">En esta sección puedes recomendar y agregar los datos de contacto de
                    profesionales de la salud</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <form class="form-container" style="max-width: 600px;" action="/recibeDatosProfesional" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-6 mw-278">Nombre:</div>
                    <div class="col-md-6 mw-278"><input type="text" name="nombre" class="form-control"
                            placeholder="ingresa el nombre" /></div>
                </div>
                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Apellido:</div>
                    <div class="col-md-6 mw-278"><input type="text" name="apellido" class="form-control"
                            placeholder="ingresa el apellido" /></div>
                </div>

                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Especialidad:</div>
                    <div class="col-md-6 mw-278">
                        <select name="profEspecialidad" class="form-select" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="Ginecología">Ginecología</option>
                            <option value="Psicología">Psicología</option>
                            <option value="Psiquiatría">Psiquiatría</option>
                            <option value="Nutrición">Nutrición</option>
                            <option value="Medicina General">Medicina General</option>
                        </select>
                    </div>
                </div>

                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Descripción:</div>
                    <div class="col-md-6 mw-278"><textarea id="msg" name="desc" class="form-control"
                            placeholder="ingresa una breve descripcion"></textarea></div>
                </div>

                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Lugar de Trabajo:</div>
                    <div class="col-md-6 mw-278"><textarea id="msg" name="workplace" class="form-control"
                            placeholder="ingresa el lugar donde atiende"></textarea></div>
                </div>

                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Email:</div>
                    <div class="col-md-6 mw-278"><input type="text" name="email" class="form-control"
                            placeholder="ingresa su email" /></div>
                </div>

                <div class="row" style=" padding-top: 24px">
                    <div class="col-md-6 mw-278">Región</div>
                    <div class="col-md-6 mw-278">
                        <select name="profRegion" class="form-select" aria-label="Default select example">
                            <option value="0" selected="selected">Regiones</option>
                            <option value="1">1 Tarapaca</option>
                            <option value="2">2 Antofagasta</option>
                            <option value="3">3 Atacama</option>
                            <option value="4">4 Coquimbo</option>
                            <option value="5">5 Valparaiso</option>
                            <option value="6">6 O'Higgins</option>
                            <option value="7">7 Maule</option>
                            <option value="8">8 Bio - Bio</option>
                            <option value="9">9 Araucania</option>
                            <option value="10">10 Los Lagos</option>
                            <option value="11">11 Aisen</option>
                            <option value="12">12 Magallanes Y Antartica</option>
                            <option value="13">13 Metropolitana</option>
                            <option value="14">14 Los Rios</option>
                            <option value="15">15 Arica y Parinacota</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-top: 24px; padding-bottom: 24px">
                    <div class="col-md-auto"><button class="btn btn-primary" type="submit"
                            style="min-width: 150px;">Enviar</button></div>
                </div>
            </form>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>Sección en construcción.</div>
            </div>
        </div>
    </div>
</section>

<style>
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mw-278 {
        min-width: 278px;
    }
</style>
{% endblock %}